body {
    margin: 0;
    background: #eeeeee;
    color: #111;
    font-family: 'Lato';
}

.contain {
    font-size: 18px;
    padding: 50px;
}

h1 {
    font-family: 'Segoe UI';
    font-size: 40px;
}